configuration {
    modes:                  "window,run";
    combi-modes:            "window,run";
    font:                   "JetBrains Mono Nerd Font 12";
    matching:               "fuzzy";
    auto-select:            false;
    show-icons:             true;
    levenshtein-sort:       true;
    separator-style:        "solid";

    kb-row-left:            "Control+Page_Up";
    kb-row-right:           "Control+Page_Down,Control+r";
    kb-row-up:              "Up,Control+p,Shift+Tab,Shift+ISO_Left_Tab,Control+s";
    kb-row-down:            "Down,Control+n,Control+t";
}

@theme "~/.config/rofi/theme.rasi"
